PORT=8080                  
MONGO_URI=mongodb+srv://mongodb://127.0.0.1:27017/webdatsan?retryWrites=true&w=majority
JWT_SECRET=your_very_long_random_secret_key_here_32_chars_or_more
NODE_ENV=development   